<div *ngIf="notFound">
  <mat-card>
    <mat-card-content>
      <p>User not found.</p>
    </mat-card-content>

    <button mat-button color="primary" (click)="goBack()">
      ← Back
    </button>
  </mat-card>
</div>

<mat-card *ngIf="user">
  <img mat-card-image [src]="user.avatar" />

  <mat-card-title>
    {{ user.first_name }} {{ user.last_name }}
  </mat-card-title>

  <mat-card-content>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
  </mat-card-content>

  <button mat-button color="primary" (click)="goBack()">
    ← Back
  </button>
</mat-card>
